@import "colors";

$right:          $cyan !default;
$mediocre:       $yellow !default;
$wrong:          $red !default;

$theme-colors-1: () !default;
$theme-colors-1: map-merge(
  (
    "right":    $white,
    "mediocre":  $gray-500,
    "wrong":    $black,
  ),
  $theme-colors-1
);

$themes: [] !default;
$themes: append($themes, $theme-colors-1);


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "right":    $right,
    "mediocre":  $mediocre,
    "wrong":    $wrong,
  ),
  $theme-colors
);

$themes: append($themes, $theme-colors);
